[Unit]
Description=Revils
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=3
User=root
ExecStart=/root/revils-server daemon

[Install]
WantedBy=multi-user.target
